.main {
  display: flex;

  .main_top {
    width: 70%;

    .main_info-wrap {
      background-color: #fff;
      padding: 5%;

      h2 {
        padding: 7px 0;
        border-bottom: 3px solid #6cc6c4;
      }

      .news {
        margin: 10px 0;
        .main_info {
          letter-spacing: -0.4em;
          border-bottom: 1px dotted #cccccc;

          .main_info-time,
          .main_info-text {
            display: inline-block;
            letter-spacing: normal;
            vertical-align: top;
          }

          .main_info-time {
            width: 20%;

            p {
              margin: 13px 0;

              time {
                vertical-align: top;
                font-size: 13px;
                font-weight: bold;
              }
            }
          }
          .main_info-text {
            width: 80%;
            padding-left: 25px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
