$white: #fff;
$main-color: linear-gradient(rgb(156, 227, 225) 0%, rgb(108, 198, 196) 100%);
$main-color-hover: linear-gradient(
  rgb(108, 198, 196) 100%,
  rgb(156, 227, 225) 0%
);
$text-color: #515151;

body {
  margin: 0;
  border-top: solid 8px #6cc6c4;
  background: #f6f6f6;
}

p {
  color: $text-color;
}

.container {
  width: 925px;
  padding: 0;
  margin: 0 auto 0 auto;
}

h2 {
  font-size: 0.9em;
}
