.content_main {
  display: flex;

  .main-contents_wrapper {
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    h2 {
      margin: 0;
      padding: 20px 0 20px 20px;
      height: 60px;
      line-height: 60px;
      background: $main-color;
      color: $title-color;
      border-radius: 10px 10px 0 0;
    }

    .main-contents {
      padding: 20px;
      background: $white;

      h3 {
        font-size: 18px;
      }

      .mani_contents_title {
        margin: 0 0 15px;
        padding: 0;
        line-height: 50px;
        border-bottom: 3px solid $main-contents-color;
      }

      .text-box {
        padding: 10px;

        .text-title {
          color: $main-contents-color;
        }

        p {
          font-size: 13px;
          line-height: 180%;
        }

        // 医院紹介のテーブル
        table {
          margin-bottom: 20px;
          width: 100%;
          border-top: 1px solid $text-color;
          border-left: 1px solid $text-color;
          border-right: 1px solid $text-color;
          border-spacing: 0;
          text-align: center;

          th {
            padding: 10px;
            background: #d1d1d1;
            border-right: 1px solid $text-color;
            border-bottom: 1px solid $text-color;
            font-size: 13px;
          }
          td {
            padding: 10px;
            color: $text-color;
            border-right: 1px solid $text-color;
            border-bottom: 1px solid $text-color;
            font-size: 12px;
          }
          th:last-child,
          td:last-child {
            border-right: 0px;
          }
          tr {
            border-bottom: 0;
          }
        }
        .mgn_l-10 {
          margin-right: 10px;
          font-weight: bold;
        }
        .mgn_r-10 {
          margin-right: 10px;
        }
      }

      // 院長・スタッフ紹介
      .column2_items {
        .column-left {
          display: inline-block;
          width: 200px;

          h3 {
            font-size: 13px;
            line-height: 180%;
            color: $title-color;
            text-align: center;
            background: $main-contents-color;
          }
          .mgn_l-15 {
            margin-right: 15px;
            font-weight: bold;
          }
        }

        .column-right {
          display: inline-block;
          margin-left: 20px;
          vertical-align: top;

          h3 {
            margin: 15px 0;
            font-size: 18px;
            color: $main-contents-color;
          }

          p {
            font-size: 13px;
            line-height: 180%;
          }
        }
      }

      // アクセス
      .map_link {
        .map_text {
          margin: 0;
          margin-bottom: 10px;
          color: #0000ff;
          font-size: 11px;
          line-height: 100%;
        }
      }
    }
  }
}
