.menu {
  width: 30%;
  margin-right: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  h2 {
    margin: 0;
    padding: 7px;
    background: $main-color;
    border-radius: 6px 6px 0 0;
    color: $white;
  }

  // 左上と左下のメニュー
  &-head,
  &-foot {
    border: 1px solid #6cc6c4;
    background: #fff;

    .menu-title {
      ul {
        margin-top: 5px;
        margin-bottom: 20px;
        padding-left: 10px;
        list-style: none;

        li {
          margin: 0 10px;
          padding: 5px 2px;
          background: url('../image/bgListIcon01.png') no-repeat;
          background-position: left;
          border-bottom: 1px solid #6cc6c4;

          a {
            margin-left: 2px;
            padding-left: 15px;
            color: $text-color;
            font-weight: bold;
            font-size: 0.7em;
            text-decoration: none;
          }
        }
      }
    }

    .menu-head_title {
      a:hover {
        color: $main-contents-color;
      }
    }
    .menu-foot_title {
      a:hover {
        color: #aec24c;
      }
    }
  }

  &-head {
    margin-bottom: 20px;
  }
}
